{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2> Quoted Symbol </h2>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Latest Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ price.name }}</td>
                <td>{{ price.price | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
